main{
    width:60%;
    float: left;
    font-size: large;
    text-align: left;
    min-height: 400px;
}
main img {
    height: 75px;
    width: 75px;
    margin: 0 auto;
    align-content: center;
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 90px;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}